body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:-10px;
  width:380px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:107px;
  width:320px;
  height:509px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:560px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:560px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:41px;
  width:340px;
  height:849px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:849px;
}
#u5 {
  position:absolute;
  left:2px;
  top:416px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:35px;
  width:340px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u7 {
  position:absolute;
  left:-3px;
  top:40px;
  width:330px;
  height:458px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:458px;
}
#u8 {
  position:absolute;
  left:2px;
  top:221px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:12px;
  top:54px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:13px;
  top:84px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:-20px;
  top:0px;
  width:390px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:135px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:13px;
  top:12px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:12px;
  top:112px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:13px;
  top:139px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:12px;
  top:170px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:13px;
  top:198px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:13px;
  top:256px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:13px;
  top:285px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:13px;
  top:426px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:83px;
  top:55px;
  width:97px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:84px;
  top:84px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:83px;
  top:112px;
  width:109px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:84px;
  top:139px;
  width:190px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:84px;
  top:170px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:84px;
  top:198px;
  width:78px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:84px;
  top:256px;
  width:101px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:84px;
  top:285px;
  width:8px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:84px;
  top:427px;
  width:157px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:13px;
  top:457px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:84px;
  top:457px;
  width:93px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:-3px;
  top:508px;
  width:330px;
  height:236px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:236px;
}
#u56 {
  position:absolute;
  left:2px;
  top:110px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:13px;
  top:519px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:84px;
  top:519px;
  width:93px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:14px;
  top:550px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:85px;
  top:550px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:13px;
  top:613px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:18px;
  top:643px;
  width:85px;
  height:85px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:124px;
  top:643px;
  width:85px;
  height:85px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u70 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:225px;
  top:643px;
  width:85px;
  height:85px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u72 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:13px;
  top:581px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:84px;
  top:581px;
  width:109px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:-2px;
  top:754px;
  width:330px;
  height:110px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:110px;
}
#u78 {
  position:absolute;
  left:2px;
  top:47px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:14px;
  top:766px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:85px;
  top:766px;
  width:93px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:15px;
  top:797px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:86px;
  top:797px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:14px;
  top:828px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:85px;
  top:828px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:10px;
  top:312px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:10px;
  top:341px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:81px;
  top:312px;
  width:89px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:81px;
  top:341px;
  width:8px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:10px;
  top:367px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:10px;
  top:396px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:81px;
  top:367px;
  width:94px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:81px;
  top:396px;
  width:8px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:13px;
  top:227px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:84px;
  top:227px;
  width:78px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:440px;
  top:260px;
  width:200px;
  height:100px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u112 {
  position:absolute;
  left:2px;
  top:31px;
  width:196px;
  word-wrap:break-word;
}
