<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <appSettings>

    <!--<add key="dbPath" value="Data Source=.;Initial Catalog=GameTang2;Persist Security Info=True;User ID=sa;Password=sa." />-->
    <add key="dbPath" value="Data Source=180.76.131.239;Initial Catalog=Mideadb;Persist Security Info=True;User ID=mideauser1;Password=mideauser1" />
    <add key="FCKeditor:BasePath" value="/fckeditor/" />
    <add key="DataCache" value="60" />
    <!--分页缓解压力-->
    <add key="ConfigPageCount" value="50" />
    <!--屏蔽文件夹-->
    <add key="BlockFolder" value="aspx,update,template" />
    <!--Cookie域-->
    <add key="CookieDomain" value="jssdw.com" />
    <!--Cookie密钥-->
    <add key="Passwordkey" value="WXH" />
    <!--Cookie名字-->
    <add key="CookieName" value="account" />
    <!--Cookie用户ID字段-->
    <add key="CookieUserid" value="userid" />
    <add key="CookiesellerId" value="sellerId" />
    <!--Cookie密码字段-->
    <add key="CookiePassword" value="password" />
    <!--Cookie用户名字段-->
    <add key="CookieUsername" value="username" />
    <!--系统上传路径。写死，不可自定义-->
    <add key="UploadPath" value="/Upload/" />
    <!--图片上传允许格式-->
    <add key="UploadPhotoAllow" value="bmp|gif|jpeg|jpg|png" />
    <!--文件上传允许格式-->
    <add key="UploadFileAllow" value="7z|aiff|asf|avi|bmp|csv|doc|fla|flv|gif|gz|gzip|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|ods|odt|pdf|png|ppt|pxd|qt|ram|rar|rm|rmi|rmvb|rtf|sdc|sitd|swf|sxc|sxw|tar|tgz|tif|tiff|txt|vsd|wav|wma|wmv|xls|xml|zip" />
    <!--检测用户在线时间，单位分钟-->
    <add key="CheckOnlineTime" value="60" />
    <!--文件服务器通讯密钥-->
    <add key="FileServerKey" value="D2G6HD42SXF53D3XF53" />
    <!--非法信息过滤-->
    <add key="FilterSTR" value="" />
    <!--文章允许的 XHTML 标签-->
    <add key="FilterTAG" value="table,tbody,tr,td,p,b,i,u,em,big,small,div,img,span,blockquote,strike,code,pre,br,hr,ul,ol,li,del,ins,strong,sup,sub,a,font,dl,dd,dt,h6,h4,h5,object,embed,param" />
    <!--文章允许的 XHTML 属性-->
    <add key="FilterATT" value="class,href,target,border,src,align,width,height,color,size,alt,rel,style,type,name,value,allowFullScreen,wmode,allowScriptAccess,pluginspage,play,loop" />
    <!--是否开启全文检索，1开启 0不开启-->
    <add key="EnableFullTextSearch" value="0" />
    <!--判断是否开启本页面全文检索，1开启 0不开启-->
    <add key="EnableIsAllContent" value="1" />
    <!--节点自动生成时间，单位分钟，0不自动生成-->
    <add key="NodeAutoPublicTime" value="60" />
    <!--错误跟踪路径-->
    <add key="errPath" value="E:\AspNet\ErrInfo" />
    <!--产品小图宽高-->
    <add key="proBitmapWidth" value="50" />
    <add key="proBitmapHeight" value="50" />
    <!--产品中图宽高-->
    <add key="proMidmapWidth" value="200" />
    <add key="proMidmapHeight" value="200" />
    <!--产品最多图片数及大小-->
    <add key="proMaxCount" value="2" />
    <add key="proMaxSize" value="4000000" />

    <add key="tokenEnable" value="0"/>
  </appSettings>



  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>



  <system.web>
    <compilation debug="true" targetFramework="4.0" />


    <customErrors mode="Off" />


    <httpRuntime requestValidationMode="2.0"  />



    <!--<httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>-->



    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>


  </system.web>


  <rewriter>
    <rewrite url="~/user/index$" to="~/users/Index.aspx" processing="stop" />



    <rewrite url="~/system$" to="~/Manage/main.aspx" processing="stop" />



  </rewriter>

  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40890" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
